/* reset stylesheet to reset browser defaults back to 0 */
@import url(reset.css);

/* two Google fonts we'll use */
@import url(https://fonts.googleapis.com/css?family=Cantora+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	background-image: url(../img/sandpaper.png);
	font-family: 'Cantora One', sans-serif;
}

article {
	width: 90%; /*of body*/
	background-color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #907A46;
	padding: 10px;
}

header h1 {
	font-family: 'Cantora One', sans-serif;
	font-size: 200%;
	color: #EEEDEA;
	line-height: 60px; /*vertically center text*/
	display: inline;
}

header img {
	height: 60px; /*size down logo image*/
	float: right;
	opacity: 0.7;
	/*Smooth opacity transition over 0.2sec*/
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;  
}

header img:hover {
	opacity: 1;
}

figure {
	display: inline-block;
	padding: 10px;
	background-color: #FFF;
	/*Smooth hover-zoom transition over 0.2sec*/
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;  
}

figcaption {
	font-weight: 300; /*Normal weight is 400*/
	text-align: center; /*horizontally center text*/
	margin-top: 5px;
}

figure img {
	width: 200px;
	border: 10px solid #EEE; /*thickness, type, color*/
	border-radius: 2px;
}

figure:hover {	
	box-shadow: 2px 2px 6px #555; /*box shadow*/
	/*Scaling transform makes 1.5x larger + Full spin*/
	-webkit-transform: scale(1) rotate(360deg);
	-moz-transform: scale(1) rotate(360deg);
	-o-transform: scale(1) rotate(360deg);
	-ms-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);
}

p {
	padding: 10px;
	text-align: center;
}
